.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* font-size: 2rem; */
}
.test_area {
  min-width: 400px;
  max-width: 500px;
  max-height: 150px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}
.word{
  margin: 0 5px 5px 0;
}
.letter{
  color: rgb(121, 121, 121);
}
.right{
  color: rgb(0, 0, 0);
}
/* .wrong{
  color: red;
} */
/* .current{
  color: blue;
} */
.main div:before {
  /* content: '|'; */
  /* position: absolute; */
  /* top: 25%; */
  /* left: var(--left-width); */
  /* visibility: visible; */
  /* transition: left 0.1s linear; */
  /* border-top: 12px solid #999; */
  /* animation: blink  1.75s steps(5, start) infinite  ; */
}
@keyframes blink {
  to {
    visibility: hidden;
  }  /* to {display: hidden;} */
}

