.header{
    /* background-color: rgb(160, 160, 220); */
    padding: 30px 0;
}
.header nav > div:first-child{
    display: flex;
    align-items: anchor-center;
}
.header nav > div:nth-child(1) > a:nth-child(1) > svg{    
    color: var(--accent-color);
    background-color: var(--accent-color);
    margin-right: 5px;
    border-radius: 8px;
}
.header #top{
    font-size: 0.4em;
    position: absolute;
    left: 3.6em;
    top: -0.50em;
}
.header nav > div:nth-child(1) > a:first-child:not(#top){
    font-size: 2em;
    position: relative;
}
.header nav svg {
    /* font-size: 1em; */
    width: 40px;
    /* height: 10px; */
}
.header nav {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav a{
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}
.header nav a.visible{
    opacity: 1;
    visibility: visible;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}
.header nav a.hidden{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}
.header nav a:hover{
    color: var(--hover-text-color);
}

@media screen and (max-width: 1023px){
    .header{
        font-size: 1em;
        padding: 30px 15px;
    }   
    .header nav {
        width: 100%;
    }
    .header nav > div:nth-child(2){
        display: flex;
        align-self: flex-end;
        padding: 5px;
    }
    .header nav svg{
        width: 30px;
    }
}
@media screen and (max-width: 767px){
    .header{
        font-size: 0.7em;
        padding: 30px 10px;
    }   
    .header nav svg{
        width: 25px;
    }
}